{% extends 'base.html' %}

{% block content %}
<div class="master-container">
  <div class="card cart">
    <label class="title">Додати до кошика</label>
    <div class="products">
      <div class="order-img"><img class="img-fluid" src="{{url_for('static', filename='img/' + item.image)}}" alt=""></div>
        <div>
          <span>{{item.name}}</span>
          <p>{{item.description}}</p>
        <label class="price small">{{item.price}} грн</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card coupons">
    <label class="title">Кількість</label>
    <form method="post" action="/add" class="form">
      <input type="hidden" name="order_item_id" value="{{orderItem.id}}"/>
      <input type="number" name="order_item_amount" value="{{orderItem.amount}}" placeholder="Введіть бажану кількість" class="input_field">
      <label class="price small">{{orderItem.total_price}} грн</label>
      <button type="submit">Застосувати</button>
    </form>
  </div>
  <div class="card coupons">
    <a href="/" class="btn btn-primary">Продовжити покупки</a>
    <a href="{{ url_for('cart')}}" class="btn btn-primary">До кошика</a>
  </div>
</div>
{% endblock content %}
